Repository gabrielluthun/API-bots-discord-documentation, changes with the owners that CODEOWNERS names for each.
All owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel, @Srekaens, @julienbeauchant, @Martial59110, @aReynier

CODEOWNERS:

* @BborisB @YohanF1245 @EnguerranSGG @MessaKami @gabrielluthun @UnknOownU
/doc/bot-community @BborisB @YohanF1245 @EnguerranSGG @MessaKami @gabrielluthun @UnknOownU @ayoub-laroussi @alf-Meodel
/doc/bot-feedback @BborisB @YohanF1245 @EnguerranSGG @MessaKami @Srekaens @julienbeauchant
/doc/bot-onboarding @BborisB @YohanF1245 @EnguerranSGG @MessaKami @Martial59110 @aReynier
/doc/bot-signature @BborisB @YohanF1245 @EnguerranSGG @MessaKami

docs(bot-signature): add data dictionnary file
  df
  doc/bot-signature/bdd/dictionnaire-de-donnee.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bot-signature): add data dictionnary
  df
  doc/bot-signature/bdd/dictionnaire-de-donnee.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bot-signature): fix signature
  doc/bot-signature/bdd/dictionnaire-de-donnee.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami

docs(bot-onboarding): rename the user_name rename the user_name to user_lastname into the folder bdd on the file dictionnaire-de-donnees.md
  doc/bot-onboarding/bdd/dictionnaire-de-donnees.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add the new echanges-client
  doc/bot-onboarding/echanges-client/echanges-16-12-24/mail-recap.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): update the mail recap update the mail recap for the 16-12-2024 in echanges-client/echanges-16-12-24/mail-recap.md
  doc/bot-onboarding/echanges-client/echanges-16-12-24/mail-recap.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): update 1 sentence update the mail recap for the 16-12-2024 in echanges-client/echanges-16-12-24/mail-recap.md
  doc/bot-onboarding/echanges-client/echanges-16-12-24/mail-recap.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-feedback): add mcd.jpg
  doc/bot-feedback/bdd/mcd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-onboarding): change MCD, MLD, MPD
  doc/bot-onboarding/bdd/mcd.jpg
  doc/bot-onboarding/bdd/mld.jpg
  doc/bot-onboarding/bdd/mpd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add file "defense-profondeur.md"
  doc/bot-onboarding/securite/defense-profondeur.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add file "reduction-surface-attaque.md"
  doc/bot-onboarding/securite/reduction-surface-attaque.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add file "politique-moindre-privilege.md"
  doc/bot-onboarding/securite/politique-moindre-privilege.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): management rules review
  doc/bot-onboarding/regles-gestion.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add files and content
  doc/bot-onboarding/doc-discord/clarifications.md
  doc/bot-onboarding/doc-discord/questionnements.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): change management rules
  doc/bot-onboarding/regles-gestion.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-community): add mcd
  doc/bot-community/bdd/MCD.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community): add mld
  doc/bot-community/bdd/MLD.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community): add draft of uml
  doc/bot-community/bdd/UML.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bdd): add the mcd for the project
  doc/bdd/mcd.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): add the mld for the project
  doc/bdd/mld.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): add the loop file for the project
  doc/bdd/fil-rouge.loo
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(global): add contribution guidelines and conventions
  CONTRIBUTING.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add MERISE directory for MCD, MLD, MPD
  doc/bot-onboarding/bdd/MERISE/mcd.jpg
  doc/bot-onboarding/bdd/MERISE/mld.jpg
  doc/bot-onboarding/bdd/MERISE/mpd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add use case diagrams
  doc/bot-onboarding/bdd/UML/diagrammes-cas-utilisation/use-case-diagram-creation.jpg
  doc/bot-onboarding/bdd/UML/diagrammes-cas-utilisation/use_case_diagram_authentification.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add class diagram
  doc/bot-onboarding/bdd/UML/class_diagram.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): rename diagrams to kebab case
  doc/bot-onboarding/bdd/UML/class-diagram.jpg
  doc/bot-onboarding/bdd/UML/diagrammes-cas-utilisation/use-case-diagram-authentification.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-feedback): add mail template
  doc/bot-feedback/echanges-client/mail-rendez-vous.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-feedback): update mcd
  doc/bot-feedback/bdd/mcd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-feedback): add mld
  doc/bot-feedback/bdd/mld.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-feedback): add mpd
  doc/bot-feedback/bdd/mpd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add sequence diagram
  doc/bot-onboarding/bdd/UML/sequence-diagram-campus-creation.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add email recap
  doc/bot-onboarding/echanges-client/echange-30-01-25/mail-recap.md
  doc/bot-onboarding/echanges-client/echange-30-01-25/notes-reunion.md
  doc/bot-onboarding/echanges-client/echange-30-01-25/questionnaire.md
  doc/bot-onboarding/echanges-client/stock-questions.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-community/bdd): adding new Conceptual Data Model
  doc/bot-community/bdd/MCD.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community/bdd): adding new Logical Data Model
  doc/bot-community/bdd/MLD.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-onboarding): add the new MCD
  doc/bot-onboarding/bdd/MERISE/mcd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier
