Repository gabrielluthun/API-bots-discord-documentation, changes with the owners that CODEOWNERS names for each.
All owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel, @Srekaens, @julienbeauchant, @Martial59110, @aReynier

docs(bot-onboarding): add the new MLD
  doc/bot-onboarding/bdd/MERISE/mld.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): add the new MPD
  doc/bot-onboarding/bdd/MERISE/mpd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-community/bdd): adding new Data Dictionary
  doc/bot-community/bdd/dictionnaire-de-donnees.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(readme): add Bot Community section to base README
  README.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bot-community/bdd): remove outdated UML diagram
  doc/bot-community/bdd/UML.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community/bdd): add use case diagram for CRUD resources
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-ressource-CRUD-diagram.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-feedback): update mcd, mld and mpd
  doc/bot-feedback/bdd/mcd.jpg
  doc/bot-feedback/bdd/mld.jpg
  doc/bot-feedback/bdd/mpd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-feedback): add usecase diagram
  doc/bot-feedback/uml/sondage-use-case.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(simplon-community): add use case diagram for comments
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-Commentaire-CRUD.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(simplon-community): add use case diagram for votes
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-vote-CRUD-diagram.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(simplon-community): add use case diagram for reports
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-signalement.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community): add rewards use case diagram
  doc/bot-community/bdd/diagrammes-cas-utilisation/use-case-rewards.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-feedback): fix use case diagram and add source file
  doc/bot-feedback/uml/sondage-use-case.jpg
  doc/bot-feedback/uml/use-case.drawio
  doc/bot-feedback/uml/use-case.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(simplon-community): fix typo in use case comment diagram
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-Commentaire-CRUD.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(simplon-community): fix typo in use case vote diagram
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-vote-CRUD-diagram.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(simplon-community): fix typo in use case report diagram
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-signalement.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(simplon-community): fix typo in use case resource diagram
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-ressource-CRUD-diagram.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community): add complete resource creation sequence diagram with error handling
  doc/bot-community/bdd/diagrammes-de-sequences/resource-diagram-sequence.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-onboarding): rework the mcd.jpg
  doc/bot-onboarding/bdd/MERISE/mcd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): rework the mld.jpg
  doc/bot-onboarding/bdd/MERISE/mld.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): rework the mpd.jpg
  doc/bot-onboarding/bdd/MERISE/mpd.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-feedback): fix use-case
  doc/bot-feedback/uml/use-case.drawio
  doc/bot-feedback/uml/use-case.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Srekaens, @julienbeauchant

docs(bot-onboarding): add daily meeting files
  doc/bot-onboarding/daily-meeting.md
  doc/bot-onboarding/daily-meeting/daily-meeting-10-02-2025.md
  doc/bot-onboarding/daily-meeting/daily-meeting-11-02-2025.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(bot-onboarding): delete 2 rules of management
  doc/bot-onboarding/regles-gestion.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @Martial59110, @aReynier

docs(doc): add folder benchmarks and file
  doc/benchmarks/benchmark-back.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(doc): add benchmark front
  doc/benchmarks/benchmark-front.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bot-community): add rbac
  doc/bot-community/RBAC.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bot-community): update rbac and management rules
  doc/bot-community/RBAC.md
  doc/bot-community/regles-gestion.md
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU, @ayoub-laroussi, @alf-Meodel

docs(bdd): delete mcd, mld, and looping file
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd.png
  doc/bdd/mld.png
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): add global MCD
  doc/bdd/mcd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): add global mld
  doc/bdd/mld-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): add global mpd
  doc/bdd/mpd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): add fil-rouge.loo
  doc/bdd/fil-rouge.loo
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): change mcd
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd-global.jpg
  doc/bdd/mld-global.jpg
  doc/bdd/mpd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): rechange mcd
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd-global.jpg
  doc/bdd/mld-global.jpg
  doc/bdd/mpd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): rechange MCD
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd-global.jpg
  doc/bdd/mld-global.jpg
  doc/bdd/mpd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): rechange mcd
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd-global.jpg
  doc/bdd/mld-global.jpg
  doc/bdd/mpd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

docs(bdd): update mcd, mld and mpd
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd-global.jpg
  doc/bdd/mld-global.jpg
  doc/bdd/mpd-global.jpg
Owners: @BborisB, @YohanF1245, @EnguerranSGG, @MessaKami, @gabrielluthun, @UnknOownU

CODEOWNERS:

* @BborisB @YohanF1245 @EnguerranSGG @MessaKami @gabrielluthun @UnknOownU
/doc/bot-community @BborisB @YohanF1245 @EnguerranSGG @MessaKami @gabrielluthun @UnknOownU @ayoub-laroussi @alf-Meodel
/doc/bot-feedback @BborisB @YohanF1245 @EnguerranSGG @MessaKami @Srekaens @julienbeauchant
/doc/bot-onboarding @BborisB @YohanF1245 @EnguerranSGG @MessaKami @Martial59110 @aReynier
/doc/bot-signature @BborisB @YohanF1245 @EnguerranSGG @MessaKami
